#nav{list-style: none;
    overflow: hidden;}　//はみ出し部分
#nav li{width:300px;
        hight:150px;
       text-align:center;
       background-color: #333;
       float: left;}
#nav li a {text-decoretion:none;
          color: #fff;
          font-weight: bold;
          height: 50px;
          line-height: 50px;　//一行の高さ
          margin-right: 2px; //メニューボタンの右の余白
  　　　　 padding: 20px;}
