body{
    background-image:url("./image/haikei.112.png");
    background-repeat: no-repeat;
}

.img-box {
   margin:0 auto;
}
.img-box {
   text-align:center;
}

#nav{list-style: none;
    overflow: hidden; /*はみ出し部分*/}
#nav li{width:300px;
        hight:150px;
       text-align:center;
       background-color: #333;
       float: left;}
#nav li a {text-decoretion:none;
          color: #fff;
          font-weight: bold;
          height: 50px;
          line-height: 50px; /*一行の高さ*/
          margin-right: 2px; /*メニューボタンの右の余白*/
  　　　　 padding: 20px;
          }
    .title{font-size: 2.0em}
.text-background-text1 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4em;
  padding: 5px;
  background:#333;
}

.text-background-text1{
    color:#FFFFFF;
}
.flex {
  display: flex; /*横並び*/
}
.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}
/* 横並び */

.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}

/* 画像を天地中央表示 */

.flex .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.flex .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
